<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOSdeK5vJKIukWTsKMbacoPxD2AJnkWO0</string>
	<key>GCM_SENDER_ID</key>
	<string>1054842036464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdulkadiroruc.Test</string>
	<key>PROJECT_ID</key>
	<string>timerapp-b9f04</string>
	<key>STORAGE_BUCKET</key>
	<string>timerapp-b9f04.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054842036464:ios:a9a48d8b728c4e39776235</string>
</dict>
</plist>