# Xcode
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcworkspace
*.xcodeproj/*
!*.xcodeproj/project.pbxproj

# SwiftPM
.build/
.swiftpm/


# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Xcode Patch Version Files
*.xccheckout

# User-specific
*.xcuserdata/

# Logs
*.log

# Others
*.DS_Store
*.idea/